<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
			http://www.springframework.org/schema/mvc
			http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
			http://www.springframework.org/schema/context
			http://www.springframework.org/schema/context/spring-context-4.2.xsd ">
    <context:component-scan base-package="cn.kgc.*"></context:component-scan>
    <!--开启springmvc的注解驱动-->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!--
        配置能够访问到的静态资源的目录
        HTML  js css
    -->
    <!--<mvc:resources mapping="/static/images/**" location="/static/images/"></mvc:resources>-->

    <!-- 容器默认的DefaultServletHandler处理所有静态内容与无RequestMapping处理的URL-->
    <!--只拦截请求，不拦截静态资源-->
    <mvc:default-servlet-handler/>

    <!--配置视图解析器-->
    <!--视图解析器会自动拼接路径-->
    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--配置前缀-->
        <property name="prefix" value="/WEB-INF/jsp/pages/"></property>
        <!--配置后缀-->
        <property name="suffix" value=".jsp"></property>
    </bean>
</beans>